<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Restablece tu Contraseña</h3>
        <p class="text-center">Ingresa tu Correo Electrónico para solicitar restablecer tu contraseña.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Correo Electrónico" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Restablece tu Contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span>¿Ya tienes una cuenta?<button class="btn googleBtn" routerLink="/sign-in">Inicia Sesión</button></span>
      </div>
    </div>
  </div>