<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Gracias por registrarte en Bonappetit</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Hemos enviado un correo electrónico de confirmación a <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Verifica tu Correo Electrónico y haz clic en el enlace para verificarlo.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Reenviar Correo de confirmación.
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <button class="redirect"  routerLink="/sign-in">Regístrate nuevamente</button>
      </div>
    </div>
  </div>